@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    h1{
        color:green;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        color:black;
          font-family:'Times New Roman', Times, serif;
          font-size:30px;
          font-weight:bold;
    }
    body{
        background-image:url('Stock/revitalose1.jfif');
            }
    #div1{
        margin-top:20vh;
    }
    img{
        width:100%;
    }
</style>
<div id="div1" class="text-center">
    <h1 class="display-4">Bienvenu Ci Sen Boutique Xeweul</h1>
    <p>Votre Desir Notre Preoccupation premiere!!!</p>
</div>
<div>
    <img src="~/font-awesome/boutique_ligne_910.jpg"/>
</div>